project.pem
aws_configure.txt
ansible/sample_inventory.ini
ansible/sample.yaml
Terraform/environments/dev/.terraform
Terraform/environments/dev/.terraform.lock.hcl
Terraform/environments/dev/terraform.tfstate
Terraform/environments/dev/terraform.tfstate.backup
ansible-tools
RBAC
gmail_configure.txt
